/* animations to make character icons fade out when found */
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}

@keyframes flashRed {
  0% {
    border-color: none;
  }
  50% {
    border-color: red;
  }
  100% {
    border-color: none;
  }
}

.flash-red {
  animation: flashRed 2s;
}

@keyframes flashGreen {
  0% {
    border-color: none;
  }
  50% {
    border-color: green;
  }
  100% {
    border-color: none;
  }
}

.flash-green {
  animation: flashGreen 2s;
}

@keyframes flashConstraints {
  0% {
    color: #e7cd78;
  }
  50% {
    color: white;
  }
  100% {
    color: #e7cd78;
  }
}

.flash-constraints {
  animation: flashConstraints 2s;
}
